.PersonalHistory {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

.PersonalHistory__histContainer {
    height: 100%;
    width: 100%;
    padding: 5.25% 2% 5% 2%;
    transition: .3s ease-in-out;
    background-color: #000000;
    border-bottom: 1px solid #ffffff;
}


.histContainer__title {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1%;
    color: #e16a8b;
}

.histContainer__company {
    font-style: italic;
    font-weight: 800;
    margin-bottom: .25%;
    color: #e16a8b;

}

.histContainer__date {
    font-style: italic;
    margin-bottom: 1.25%;
    color: #e16a8b;

}

.histContainer__bullet {
    margin-bottom: 2%;
    line-height: 130%;
    width: 85%;
}


@media only screen and (max-width: 1000px) {
    .PersonalHistory {
        padding: 5% 0 5% 0;
    }

    .PersonalHistory__histContainer {
        padding: 7% 3% 2% 3%;
    }

    .histContainer__desc {
        font-size: 1.4rem;
        width: 100%;
    }


    .histContainer__title {
        font-size: 2.2rem;
        margin-bottom: 2%;
    }

    .histContainer__company {
        font-size: 1.6rem;
        margin-bottom:  2%;
    }

    .histContainer__date {
        font-size: 1.2rem;
        font-weight: 800;
        margin-bottom: 3%;
    }
}


@media only screen and (max-width: 800px) {
    .PersonalHistory {
        padding-top: 4%;
    }

    .PersonalHistory__histContainer {
        border-bottom: .25px solid #ffffff;
        border-radius: 0px;
        padding-bottom: 7%;
    }

    .histContainer__title {
        font-size: 2rem;
        margin-bottom: 3%;
    }

    .PersonalHistory > :nth-child(5) {
        border-bottom: none;
    }
}