.ExperienceJump {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.ExperienceJump__jumpLink {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8% 8% 8% 8%;
    text-decoration: none;
    font-weight: 900;
    transition: .4s ease-in-out;
    font-size: 3.2rem;
    background-color: #000000;
    color: #ffffff;

    text-decoration: underline;
}

#personal:hover {
    color: #e16a8b;
}

#workprofessional:hover {
    color: #e16a8b;
}








@media only screen and (max-width: 800px) {
    .ExperienceJump__jumpLink {
        font-size: 2rem;
        padding: 12% 12% 12% 12%;
    }
}
