.Footer {
    height: 100%;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1% 0 2% 0;
}

.Footer__sitemapContainer {
    height: 60%;
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 4% 0 3% 3%;
}

.sitemapContainer__header {
    font-size: 2.4rem;
    font-weight: 600;
}

.sitemapContainer__link {
    margin: 1.5% 0 1.5% 2% ;
    text-decoration: none;
    color: #e16a8b;
    border: 1px solid #e16a8b;
    transition: .2s ease-in-out;
    font-weight: 800;
    width: 30%;
    font-size: 1.4rem;
    text-align: center;
    height: 50px;
    opacity: 80%;
    display: flex;
    align-items: center;
    justify-content: center;  
    line-height: 110%;  
}

.sitemapContainer__link:hover {
    background-color: #e16a8b;
    color: #ffffff;
    border: none;
    font-weight: 600;
    opacity: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.Footer__socialContainer {
    height: 40%;
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: space-around;
    margin: 4% 3%  3%;
}

.socialContainer__svgLink {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
    border-radius: 25px;
    background-color: #e16a8b;

}

.socialContainer__svgLink:hover {
    background-color: #ffffff;
}

.svglink__img {
    height: 50px;
    width: 50px;
}

#behance {
    width: 150px;
}

#behance_svg {
    height: 50px;
    width: 95px;
}

#linkedin_svg {
    height: 80px;
    width: 95px;
}

#SMC_link_video {
    width: 96.5%;
}




@media only screen and (max-height: 650px) {
    .Footer__sitemapContainer {
        display: none;
    }

}

@media only screen and (max-height: 500px) {
    .Footer {
        height: 100%;
    }

    .sitemapContainer__link {
        padding: 3% 0 3% 0;
    }

    .Footer__sitemapContainer {
        height: 100%;
    }
}




@media only screen and (max-width: 1100px) {
    .Footer {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .Footer__sitemapContainer {
        display: none;
        height: 100%;
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0 0 0 0;
    }

    .sitemapContainer__link {
        margin-left: 2%;
        text-decoration: none;
        color: #ffffff;
        border: .5px solid #ffffff;
        transition: .2s ease-in-out;
        width: 30%;
        font-size: 1.4rem;
        text-align: center;
        height: 50px;
        opacity: 80%;
        display: flex;
        align-items: center;
        justify-content: center;  
        line-height: 110%;  
    }

    .sitemapContainer__link {
        margin: 1% 0 1% 0;
        width: 90%;
        border-width: 3px;
        font-weight: 900;
    }

    #SMC_link_video {
        width: 90%
    }


    .Footer__socialContainer {
        width: 100%;
    }


    #behance {
        width: 150px;
    }
    
    #behance_svg {
        height: 30px;
        width: 65px;
    }
    
    #linkedin_svg {
        height: 50px;
        width: 65px;
    }

    #spotify_svg {
        height: 40px;
        width: 65px;
    }

    #github_svg {
        height: 40px;
    }

    .socialContainer__svgLink {
        border: none;
        border-radius: 0px;
    }


}