.Display {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, .01);  
    backdrop-filter: blur(100.5px);
    color: #FFFFFF;
    overflow-y: scroll;
    font-family: 'Courier New', Courier, monospace;    
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.Display::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.Display {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@media only screen and (max-width: 700px) {
    .Display {
        padding: 0 0 0 0;
    }
}
