.PortfolioCard_link {
    height: 1200px;
    width: 100%;
    padding: 2.5% 2% 2.5% 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transition: .45s ease-in-out;
    text-decoration: none;
    color: #ffffff;
}

.PortfolioCard {
    height: 100%;
    width: 100%;
}

.PortfolioCard_link:hover > div > div > h1 {
    background-color: rgb(255, 255, 255, .75);
    color: #000000;
}

.PortfolioCard_link:hover > div > div > p {
    background-color: rgb(255, 255, 255, .75);
    color: #000000;
}

.PC__introContainer {
    height: 100%;
    width: 100%;
    padding: 1.25% 1.25% 1.25% 1.25%;
}

.introContainer__title {
    font-size: 3rem;
    font-weight: 800;
    transition: .3s ease-in-out;
    text-decoration: underline;
    padding: 2% 2% 2% 2%;

}

.introContainer__desc {
    transition: .3s ease-in-out;
    padding: 2% 2% 2% 2%;

}

.PC__cardContainer {
    height: 290px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.PC__linkCard {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 2% 0 2% 0;
    background: #373e45;
    color: #FFFFFF;
    transition: .3s ease-in-out;
    border-radius: 25px;
}

.linkCard__image {
    height: 175px;
    width: 325px;
    border: 1px solid #ffffff;
    margin-bottom: 3%;
}

#Sou001 {
    object-position: bottom;
}

.linkCard__photo {
    object-fit: cover;
    object-position: top;
}

.linkCard__photo {
    height: 100%;
    width: 100%;
}

.linkCard__title {
    width: 70%;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 1%;
}

.linkCard__year {
    font-style: italic;
}

.PC__PageLink {
    width: 100%;
    height: 40%;
    padding: 2% 0 2% 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2d471;
    border: 3px solid #f2d471;
    color: #373e45;
    text-decoration: none;
    transition: .2s ease-in-out;
}

.PageLink__block {
    color: #373e45;
    font-weight: 900;
}

.PageLink__block > span {
    font-size: 2.75rem;
    color: #373e45;
}

.PC__PageLink:hover {
    background-color: #373e45;
    border: 3px dashed #e16a8b;
}

.PC__PageLink:hover > div {
    color: #e16a8b;
}

.PC__PageLink:hover > div > span {
    color: #e16a8b;
}

@media only screen and (min-height: 1080px) {
    .PortfolioCard {
        opacity: 100%;
    }
}

@media only screen and (max-width: 1600px) {
    .PortfolioCard {
        height: 200px;
    }

    .PC__PageLink {
        height: 30%;
        width: 25%;
        flex-wrap: nowrap;
    }
}


@media only screen and (max-width: 800px) {
    .PortfolioCard_link {
        flex-direction: column;
        justify-content: space-around;
        height: 30%;
        opacity: 100%;
        margin: 5% 0 5% 0;
        border-top: none;
    }

    .PortfolioCard {
        height: 100%;
        width: 100%;
        padding: 10% 0 13% 0;

        
    }

    .PC__introContainer {
        width: 100%;
        text-align: center;
    }
    
    .introContainer__desc {
        width: 100%;
        font-size: 1.8rem;
        line-height: 120%;
        
    }

    .PC__PageLink {
        width: 90%;
    }

    .introContainer__title {
        padding: 4% 0 4% 0;
    }

    .introContainer__desc {
        font-size: 1.7rem;
        font-style: italic;
        padding: 4% 0 4% 0;
    }

}